<footer>
  <div class="footer-wrap">
      <div class="box-footer">
          <div class="row">
              <div class="col-md-2 mb-3">
                  <h4>ĐIỂM ĐẾN</h4>
                  <a class="link-footer" href="">Du lịch Miền Bắc</a> <br>
                  <a class="link-footer" href="">Du lịch Miền Trung</a> <br>
                  <a class="link-footer" href="">Du lịch Miền Nam</a> <br>
                  <a class="link-footer" href="">Du lịch Miền Tây</a> <br>
                  <a class="link-footer" href="">Du lịch Tây Bắc</a> <br>
                  <a class="link-footer" href="">Du lịch Tây Nguyên</a> <br>
                  <a class="link-footer" href="">Du lịch Châu Âu</a> <br>
                  <a class="link-footer" href="">Du lịch Châu Á</a> <br>
                  <a class="link-footer" href="">Du lịch Châu Úc</a> <br>
                  <a class="link-footer" href="">Du lịch Đông Âu</a> <br>
                  <a class="link-footer" href="">Du lịch Châu Mỹ</a> <br>
                  <a class="link-footer" href="">Du lịch Nam Mỹ</a> <br>
                  <a class="link-footer" href="">Du lịch Châu Phi</a> <br>
                  <a class="link-footer" href="">Du lịch Hành Hương</a> <br>
                  <a class="link-footer" href="">Du lịch Free & Easy</a> <br>
                  <a class="link-footer" href="">Du lịch biển đảo</a> <br>
              </div>
              <div class="col-md-2 mb-3">
                  <h4>TRONG NƯỚC</h4>
                  <a class="link-footer" href="">Du lịch Đà Nẵng</a> <br>
                  <a class="link-footer" href="">Du lịch Hội An</a> <br>
                  <a class="link-footer" href="">Du lịch Nha Trang</a> <br>
                  <a class="link-footer" href="">Du lịch Phú Quốc</a> <br>
                  <a class="link-footer" href="">Du lịch Đà Lạt</a> <br>
                  <a class="link-footer" href="">Du lịch Buôn Mê Thuột</a> <br>
                  <a class="link-footer" href="">Du lịch Hà Nội</a> <br>
                  <a class="link-footer" href="">Du lịch Hạ Long</a> <br>
                  <a class="link-footer" href="">Du lịch Sapa</a> <br>
                  <a class="link-footer" href="">Du lịch Huế</a> <br>
                  <a class="link-footer" href="">Du lịch Quảng Bình</a> <br>
                  <a class="link-footer" href="">Du lịch Đồng Tháp</a> <br>
                  <a class="link-footer" href="">Du lịch Cần Thơ</a> <br>
                  <a class="link-footer" href="">Du lịch Cà Mau</a> <br>
                  <a class="link-footer" href="">Du lịch Vũng Tàu</a> <br>
                  <a class="link-footer" href="">Du lịch Phan Thiết</a> <br>
                  <a class="link-footer" href="">Du lịch Quy Nhơn</a> <br>
              </div>
              <div class="col-md-2 mb-3">
                  <h4>NƯỚC NGOÀI</h4>
                  <a class="link-footer" href="">Du lịch Dubai</a> <br>
                  <a class="link-footer" href="">Du lịch Thái Lan</a> <br>
                  <a class="link-footer" href="">Du lịch Singapore</a> <br>
                  <a class="link-footer" href="">Du lịch Sing - Mã</a> <br>
                  <a class="link-footer" href="">Du lịch Malaysia</a> <br>
                  <a class="link-footer" href="">Du lịch Nhật Bản</a> <br>
                  <a class="link-footer" href="">Du lịch Hàn Quốc</a> <br>
                  <a class="link-footer" href="">Du lịch Ấn Độ</a> <br>
                  <a class="link-footer" href="">Du lịch Trung Quốc</a> <br>
                  <a class="link-footer" href="">Du lịch Pháp</a> <br>
                  <a class="link-footer" href="">Du lịch Ý</a> <br>
                  <a class="link-footer" href="">Du lịch Thụy Sĩ</a> <br>
                  <a class="link-footer" href="">Du lịch Đức</a> <br>
                  <a class="link-footer" href="">Du lịch Anh</a> <br>
                  <a class="link-footer" href="">Du lịch Hà Lan</a> <br>
                  <a class="link-footer" href="">Du lịch Bỉ</a> <br>
                  <a class="link-footer" href="">Du lịch Hồng Kông</a> <br>
                  <a class="link-footer" href="">Du lịch Tây Ban Nha</a> <br>
                  <a class="link-footer" href="">Du lịch Mỹ</a> <br>
                  <a class="link-footer" href="">Du lịch Đài Loan</a> <br>
                  <a class="link-footer" href="">Du lịch Úc</a> <br>
                  <a class="link-footer" href="">Du lịch Campuchia</a> <br>
                  <a class="link-footer" href="">Du lịch Indonesia</a> <br>
              </div>
              <div class="col-md-3 mb-4">
                  <H4>HOTLINE</H4>
                  <p>
                      <strong>Khách lẻ: </strong>
                      <a class="link-footer" href="">0832.666.000</a> <br>
                      <strong>Tour đoàn trong nước: </strong>
                      <a class="link-footer" href="">0832.666.000</a> <br>
                      <strong>Tour đoàn nước ngoài: </strong>
                      <a class="link-footer" href="">0832.666.000</a> <br>
                      <strong>Vé máy bay: </strong>
                      <a class="link-footer" href="">0832.666.000</a> <br>
                  </p>
              </div>
              <div class="col-md-3 mb-4">
                  <h4>LIÊN HỆ</h4>
                  <p>
                      CÔNG TY CỔ PHẦN DỊCH VỤ DU LỊCH BẾN THÀNH <br>
                      (BENTHANH TOURIST) <br>
                      <strong>Trụ sở: </strong>70 Lý Tự Trọng, P. Bến Thành, Quận 1, TP. Hồ Chí Minh <br>
                      <strong>Trung tâm du lịch: </strong>3 - 5 Nguyễn Huệ <br>
                      P. Bến Nghé, Quận 1, TP.HCM <br>
                      <strong>Tel: </strong> <a class="link-footer" href="">028.38227788</a> <br>
                      <strong>Email: </strong> <a class="link-footer" href="">benthanh@benthanhtourist.com</a> <br>
                      <strong>Tổng Đài: </strong> <a class="link-footer" href="">1900 6668</a> <br> <br>
                      <a class="link-footer" href="">
                          <img src="/assets/images/da-thong-bao-voi-bo-cong-thuong.png" alt="" >
                      </a>
                      <a class="link-footer" href="">
                          <img src="/assets/images/hiep-hoi-pata-vietnam.jpg" alt="">
                      </a>
                      <br><br>
                      <a class="link-footer" href="">
                          <img src="/assets/images/logo-iso.png" alt="" width="200px">
                      </a>
                  </p>
              </div>
          </div>

      </div>
  </div>
  <div class="copyright">
      <div class="box-copyright">
          Copyright @ 2024 BenThanhTourist
          <a href="">
              <img src="/assets/images/dmca-badge-w100-5x1-09.png" alt="">
          </a>
      </div>
  </div>
</footer>
