<div class="col-md-10 main-admin">
  <div class="box-statistic">
    <h1 class="statistic-title">
      Thống kê
    </h1>
    <div class="row statistic-wrap">
      <div class="col-md-4 ">
        <div class="statistic-product">
          <div class="top-statistic">
            Sản phẩm:
          </div>
          <div class="bot-statistic">
            <a [routerLink]="['/product-list']">Chi tiết</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="statistic-category">
          <div class="top-statistic">
            Danh mục:
          </div>
          <div class="bot-statistic">
            <a [routerLink]="['/category-list']">Chi tiết</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="statistic-comment">
          <div class="top-statistic">
            Tài khoản:
          </div>
          <div class="bot-statistic">
            <a [routerLink]="['/user-list']">Chi tiết</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
