<div class="col-md-2 admin-navside">
  <div class="text-white p-4">
    <h3 class="text-center"><span class="title-navside">BENTHANH</span><span></span></h3>
    <hr>
    <a class="link-navside" [routerLink]="['/statistic']" title="Thống kê">
      <i class="icon-navside fa-solid fa-chart-simple me-2"></i> Thống kê
    </a>
    <a class="link-navside" [routerLink]="['/category-list']" title="Danh mục">
      <i class="icon-navside fa-solid fa-tags me-2"></i>Danh mục
    </a>
    <a class="link-navside" [routerLink]="['/product-list']" title="Sản phẩm">
      <i class="icon-navside fa-solid fa-box me-2"></i> Sản phẩm
    </a>
    <a class="link-navside" [routerLink]="['/user-list']" title="Người dùng">
      <i class="icon-navside fa-solid fa-users me-2"></i> Người dùng
    </a>
    <a class="link-navside"  title="Đơn hàng">
      <i class="icon-navside fa-solid fa-cart-shopping me-2"></i> Đơn hàng
    </a>
    <a class="link-navside"  title="Bình luận">
      <i class="icon-navside fa-solid fa-comments me-2"></i> Bình luận
    </a>

    <hr>
    <div class="text-center">
      <a [routerLink]="['/home']" class="btn"><i class="fa-solid fa-arrow-right-from-bracket"></i> Trang chủ</a>
    </div>
  </div>
</div>
<div class="col-md-12 header-admin">
  <div class="d-flex justify-content-between align-content-center p-3 pb-1">
    <p></p>
    <div>
      <span>Admin</span>
      <img class="rounded m-1 border border-1 border-white" width="90px" src="/assets/images/logo-sunworld-png.png" alt="">
    </div>
  </div>
</div>
