<div class="col-md-10 p-0 main-admin">
  <div class="row m-0">
    <div class="col-md-10"></div>
    <div class="col-md-2">
      <div class="form-group1">
        <button class="btn-add">
          <a [routerLink]="['/product-add']" routerLinkActive="router-link-active">
            + Product
          </a>
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-10 m-auto">
    <table class="table table-hover">
      <thead>
        <tr>
          <th >Tên</th>
          <th >Hình ảnh</th>
          <th >Giá</th>
          <th >Mô tả</th>
          <th class="col-md-2">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.name }}</td>
          <td><img src="{{ product.image }}" width="100" /></td>
          <td>{{ product.price }}</td>
          <td>{{ product.desc }}</td>
          <td>
            <button class="btn-edit">
              <a [routerLink]="['/product-edit/' + product._id]">Edit</a> </button>
            &nbsp;
            <button class="btn-delete">
              <a href="javascript:void(0)" (click)="deleteProduct(product._id)">Delete</a>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
